In [1]:
# Dependencies
import requests
import json
import numpy as np
import pandas as pd

In [2]:
# Build a dictionary of HHS national data.
df1 = pd.DataFrame()
year_list = [2012, 2013, 2014, 2015, 2016, 2017]
for year_entry in year_list:
    url = "https://fluvaccineapi.hhs.gov/api/v2/vaccination_rates/trends/{}/national.json?ethnicity=T&medicare_status=A".format(year_entry)
    print(url)
    national_dict = requests.get(url).json()
    df = pd.DataFrame(national_dict)
    df1 = df1.append(df, ignore_index=True)
    print(str(len(df1.index)))

https://fluvaccineapi.hhs.gov/api/v2/vaccination_rates/trends/2012/national.json?ethnicity=T&medicare_status=A
10
https://fluvaccineapi.hhs.gov/api/v2/vaccination_rates/trends/2013/national.json?ethnicity=T&medicare_status=A
62
https://fluvaccineapi.hhs.gov/api/v2/vaccination_rates/trends/2014/national.json?ethnicity=T&medicare_status=A
114
https://fluvaccineapi.hhs.gov/api/v2/vaccination_rates/trends/2015/national.json?ethnicity=T&medicare_status=A
166
https://fluvaccineapi.hhs.gov/api/v2/vaccination_rates/trends/2016/national.json?ethnicity=T&medicare_status=A
218
https://fluvaccineapi.hhs.gov/api/v2/vaccination_rates/trends/2017/national.json?ethnicity=T&medicare_status=A
243

In [3]:
df1.head()

,count,disparity,ethnicity,fips,medicare_status,name,percentage,short_name,week,week_start,year
0,26043833,0.0,T,0,A,National,0.512392,US,43,01JUN,2012
1,26043833,0.0,T,0,A,National,0.512401,US,44,08JUN,2012
2,26043833,0.0,T,0,A,National,0.512409,US,45,15JUN,2012
3,26043833,0.0,T,0,A,National,0.512415,US,46,22JUN,2012
4,26043833,0.0,T,0,A,National,0.512419,US,47,29JUN,2012

In [4]:
df1.to_json('data/raw_hhs_data.json')

In [5]:
df2 = pd.read_json('data/raw_hhs_data.json')

In [6]:
df2.head()

,count,disparity,ethnicity,fips,medicare_status,name,percentage,short_name,week,week_start,year
0,26043833,0,T,0,A,National,0.512392,US,43,01JUN,2012
1,26043833,0,T,0,A,National,0.512401,US,44,08JUN,2012
10,27278865,0,T,0,A,National,0.000349,US,1,10AUG,2013
100,28830312,0,T,0,A,National,0.501679,US,39,02MAY,2014
101,28830312,0,T,0,A,National,0.501692,US,40,09MAY,2014

In [7]:
df3 = df2[['count', 'percentage', 'year', 'week']]

In [8]:
df4 = df3.rename(columns={"count":"vaccinations", "percentage":"vac_percent"})

In [9]:
df5 = df4.sort_values(by=['year', 'week'])

In [10]:
df5.head()

   vaccinations  vac_percent  year  week
0      26043833     0.512392  2012    43
1      26043833     0.512401  2012    44
2      26043833     0.512409  2012    45
3      26043833     0.512415  2012    46
4      26043833     0.512419  2012    47

In [11]:
df5.head()

   vaccinations  vac_percent  year  week
0      26043833     0.512392  2012    43
1      26043833     0.512401  2012    44
2      26043833     0.512409  2012    45
3      26043833     0.512415  2012    46
4      26043833     0.512419  2012    47

In [23]:
df5['vac_pct_week'] = 0.0
df5['vac_percent'] = df5['vac_percent'] * 100

In [24]:
df5.head()

   vaccinations  vac_percent  year  week  vac_pct_week
0      26043833      51.2392  2012    43           0.0
1      26043833      51.2401  2012    44           0.0
2      26043833      51.2409  2012    45           0.0
3      26043833      51.2415  2012    46           0.0
4      26043833      51.2419  2012    47           0.0

In [25]:
for index_entry in df5.index:
    if df5.loc[index_entry, 'week'] == 1:
        df5.loc[index_entry, 'vac_pct_week'] = df5.loc[index_entry, 'vac_percent']
    elif index_entry > 0:
        i = index_entry - 1
        df5.loc[index_entry, 'vac_pct_week'] = df5.loc[index_entry, 'vac_percent'] - df5.loc[i, 'vac_percent']

In [28]:
df5.head()

   vaccinations  vac_percent  year  week  vac_pct_week
0      26043833      51.2392  2012    43        0.0000
1      26043833      51.2401  2012    44        0.0009
2      26043833      51.2409  2012    45        0.0008
3      26043833      51.2415  2012    46        0.0006
4      26043833      51.2419  2012    47        0.0004

In [29]:
df5.to_json('data/hhs_national_10_years.json')

In [30]:
# Sample code to access the json file.
df6 = pd.read_json('data/hhs_national_10_years.json')

In [31]:
df6.head()

     vac_pct_week  vac_percent  vaccinations  week  year
0        0.000000    51.239200      26043833    43  2012
1        0.000900    51.240100      26043833    44  2012
10       0.034869     0.034869      27278865     1  2013
100      0.001700    50.167900      28830312    39  2014
101      0.001300    50.169200      28830312    40  2014

In [32]:
# Sample code to access the json file.
df7 = df6.sort_values(['year', 'week'])
df7

     vac_pct_week  vac_percent  vaccinations  week  year
0        0.000000    51.239200      26043833    43  2012
1        0.000900    51.240100      26043833    44  2012
2        0.000800    51.240900      26043833    45  2012
3        0.000600    51.241500      26043833    46  2012
4        0.000400    51.241900      26043833    47  2012
5        0.000500    51.242400      26043833    48  2012
6        0.000500    51.242900      26043833    49  2012
7        0.000600    51.243500      26043833    50  2012
8        0.000500    51.244000      26043833    51  2012
9        0.000800    51.244800      26043833    52  2012
10       0.034869     0.034869      27278865     1  2013
11       0.168082     0.202952      27278865     2  2013
12       0.501227     0.704179      27278865     3  2013
13       1.331411     2.035590      27278865     4  2013
14       2.717870     4.753460      27278865     5  2013
15       3.768780     8.522240      27278865     6  2013
16       4.797560    13.319800      27278865     7  2013
17       5.935400    19.255200      27278865     8  2013
18       6.064600    25.319800      27278865     9  2013
19       5.297500    30.617300      27278865    10  2013
20       4.535300    35.152600      27278865    11  2013
21       3.401400    38.554000      27278865    12  2013
22       2.651300    41.205300      27278865    13  2013
23       1.998700    43.204000      27278865    14  2013
24       1.549600    44.753600      27278865    15  2013
25       0.676500    45.430100      27278865    16  2013
26       0.883500    46.313600      27278865    17  2013
27       0.703700    47.017300      27278865    18  2013
28       0.578800    47.596100      27278865    19  2013
29       0.256100    47.852200      27278865    20  2013
..            ...          ...           ...   ...   ...
213      0.000200    48.689900      29624654    48  2016
214      0.000200    48.690100      29624654    49  2016
215      0.000200    48.690300      29624654    50  2016
216      0.000000    48.690300      29624654    51  2016
217      0.000000    48.690300      29624654    52  2016
218      0.169688     0.169688      31422333     1  2017
219      0.337779     0.507467      31422333     2  2017
220      0.540393     1.047860      31422333     3  2017
221      0.960920     2.008780      31422333     4  2017
222      1.629500     3.638280      31422333     5  2017
223      2.825200     6.463480      31422333     6  2017
224      3.673520    10.137000      31422333     7  2017
225      4.520600    14.657600      31422333     8  2017
226      5.676400    20.334000      31422333     9  2017
227      5.268000    25.602000      31422333    10  2017
228      4.784500    30.386500      31422333    11  2017
229      3.883400    34.269900      31422333    12  2017
230      2.946000    37.215900      31422333    13  2017
231      2.365400    39.581300      31422333    14  2017
232      1.880700    41.462000      31422333    15  2017
233      0.867500    42.329500      31422333    16  2017
234      1.121300    43.450800      31422333    17  2017
235      0.933700    44.384500      31422333    18  2017
236      0.736400    45.120900      31422333    19  2017
237      0.488300    45.609200      31422333    20  2017
238      0.209500    45.818700      31422333    21  2017
239      0.100900    45.919600      31422333    22  2017
240      0.065100    45.984700      31422333    23  2017
241      0.002600    45.987300      31422333    24  2017
242      0.000000    45.987300      31422333    25  2017

[243 rows x 5 columns]